body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(/home/varun19/Documents/udemy/practice/startup/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color:#e7ebee ;

}
hr{
  margin: 20px auto;
  color: #f05f44 ;
  border: 3px solid #f05f44;
  max-width: 70px;
  opacity: 1;
}

/*hr{
  margin: 20px auto;
  border-color: #f05f44;
  border-width: 3px;
  max-width: 70px;
  opacity: 1;
}
*/
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-info{
  background-color: #f05f44;
  border-color: #f05f44;

}

.btn-info:hover{
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 3px;
}


.btn-xl{
  padding: 1rem 2rem;

}
.buffer{
  height: 8rem;
}